div {
    display: block;
}

.game-wrapper {
    background: #222222;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-body {
    position: relative;
    transform-origin: center;
}

.table {
    display: flex;
}

.game-body, .table {
    width: 140vh;
    height: 100vh;
}

.field {
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    background: white;
    position: absolute;
    display: grid;
    justify-content: center;
    align-items: end;
    border-right: 0.1vh solid #222222;
    border-left: 0.1vh solid #222222;
}

.corner, .corner .place, .corner .field-info {
    width: 12vh;
    height: 12vh;
}

.top-line, .right-line, .bottom-line, .left-line,
.top-line .field-info, .right-line .field-info, .bottom-line .field-info, .left-line .field-info,
.top-line .place, .right-line .place, .bottom-line .place, .left-line .place {
    width: 8vh;
    height: 12vh;
    align-items: end;
    display: grid;
}

.simple-place, .deploy-place {
    width: 12vh;
    height: 6vh;
}

.field:not([group]):not(.corner):not(.bottom-line) img {
    padding-bottom: 2.5vh;
}

.bottom-line:not([group]) img {
    padding-top: 2.5vh;
}

.right-line  {
    transform: rotate(90deg);
}

.left-line  {
    transform: rotate(-90deg);
}

.bottom-line  {
    transform: rotate(180deg);
}

.bottom-line img {
    transform: rotate(-180deg);
}

.bottom-line .price, .bottom-line .rent, .bottom-line .factor {
    transform: rotate(-180deg);
    border-bottom: 0.1vh solid #222222;
}

.top-line .price, .right-line .price, .left-line .price,
.top-line .rent, .right-line .rent, .left-line .rent,
.top-line .factor, .right-line .factor, .left-line .factor {
    border-top: 0.1vh solid #222222;
}

.price, .rent, .factor {
    height: 2.5vh;
    font-size: 2vh;
    display: grid;
    justify-content: center;
    align-items: end;
    color: white;
}

.board {
    position: relative;
    margin: 1vh;
    width: 96.3vh;
    height: 96.3vh;
}

.fields {
    position: relative;
    width: 96vh;
    height: 96vh;
}

.field-img {
    width: 8vh;
    height: 8vh;
}

.corner img {
    width: 12vh;
    height: 12vh;
}

.field:nth-child(1) {
     top: 0vh;
     left: 0vh;
}

.field:nth-child(2) {
     top: 0vh;
     left: 12vh;
}

.field:nth-child(3) {
     top: 0vh;
     left: 20vh;
}

.field:nth-child(4) {
     top: 0vh;
     left: 28vh;
}

.field:nth-child(5) {
     top: 0vh;
     left: 36vh;
}

.field:nth-child(6) {
     top: 0vh;
     left: 44vh;
}

.field:nth-child(7) {
     top: 0vh;
     left: 52vh;
}

.field:nth-child(8) {
     top: 0vh;
     left: 60vh;
}

.field:nth-child(9) {
     top: 0vh;
     left: 68vh;
}

.field:nth-child(10) {
     top: 0vh;
     left: 76vh;
}

.field:nth-child(11) {
     top: 0vh;
     right: 0vh;
}

.field:nth-child(12) {
     top: 10vh;
     right: 2vh;
}

.field:nth-child(13) {
     top: 18vh;
     right: 2vh;
}

.field:nth-child(14) {
     top: 26vh;
     right: 2vh;
}

.field:nth-child(15) {
     top: 34vh;
     right: 2vh;
}

.field:nth-child(16) {
     top: 42vh;
     right: 2vh;
}

.field:nth-child(17) {
     top: 50vh;
     right: 2vh;
}

.field:nth-child(18) {
     top: 58vh;
     right: 2vh;
}

.field:nth-child(19) {
     top: 66vh;
     right: 2vh;
}

.field:nth-child(20) {
     top: 74vh;
     right: 2vh;
}

.field:nth-child(21) {
     bottom: 0vh;
     right: 0vh;
}

.field:nth-child(22) {
     bottom: 0vh;
     left: 76vh;
}

.field:nth-child(23) {
     bottom: 0vh;
     left: 68vh;
}

.field:nth-child(24) {
     bottom: 0vh;
     left: 60vh;
}

.field:nth-child(25) {
     bottom: 0vh;
     left: 52vh;
}

.field:nth-child(26) {
     bottom: 0vh;
     left: 44vh;
}

.field:nth-child(27) {
     bottom: 0vh;
     left: 36vh;
}

.field:nth-child(28) {
     bottom: 0vh;
     left: 28vh;
}

.field:nth-child(29) {
     bottom: 0vh;
     left: 20vh;
}

.field:nth-child(30) {
     bottom: 0vh;
     left: 12vh;
}

.field:nth-child(31) {
     bottom: 0vh;
     left: 0vh;
}

.field:nth-child(32) {
     top: 74vh;
     left: 2vh;
}

.field:nth-child(33) {
     top: 66vh;
     left: 2vh;
}

.field:nth-child(34) {
     top: 58vh;
     left: 2vh;
}

.field:nth-child(35) {
     top: 50vh;
     left: 2vh;
}

.field:nth-child(36) {
     top: 42vh;
     left: 2vh;
}

.field:nth-child(37) {
     top: 34vh;
     left: 2vh;
}

.field:nth-child(38) {
     top: 26vh;
     left: 2vh;
}

.field:nth-child(39) {
     top: 18vh;
     left: 2vh;
}

.field:nth-child(40) {
     top: 10vh;
     left: 2vh;
}

.side-panel {
    margin: 15px 0;
}

.game-id-label {
    color: #40A2D8;
}

.game-id {
    color: #F0EDCF;
}

.game-id-label, .game-id {
    font-size: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vh
}

.game-id-label {
    height: 8vh;
}

.game-id {
    padding-bottom: 20px;
    height: 4vh;
}

.players {
    width: 30vh;
    height: 82vh;
}

.player {
    position: relative;
    background: #222222;
    width: 30vh;
    height: 15vh;
    color: white;
    font-size: 3vh;
}

.player-img {
    padding: 2px;
    background: white;
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
}

.player-info {
    display: grid;
    padding: 0.5vh 1vh;
    background: #222222;
}

.portfolio {
    display: grid;
}

#timer {
    border-radius: 50%;
    border: 0.4vh solid;
    position: absolute;
    width: 5vh;
    height: 4vh;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

.not-active {
    color: #636363;
}

.not-active-img img {
    background: #636363;
}

.roll-container, .container {
    z-index: 99;
    background: white;
    height: 23vh;
    width: 67vh;
    left: 14.5vh;
    top: 14.5vh;
    position: absolute;
    justify-content: center;
}

.roll-container {
    display: grid;
}

.container {
    display: grid;
}

.roll-answer-button-container {
    display: flex;
}

.roll-button-container, .pay-button-container {
    display: grid;
    justify-content: center;
}

.roll, .buy, .reject, .pay {
    margin: 1vh;
    color: white;
    background: #307adb;
    border-radius: 2vh;
    font-size: 4vh;
    height: 8vh;
}

.roll, .pay {
    width: 44vh;
}

.buy, .reject {
    width: 30vh;
}

.roll-button:hover, .roll-answer-button:hover, .pay-button:hover {
    background: #0c4795;
    justify-content: center;
}

.default-image-dice {
    width: 12vh;
    height: 9vh;
}

.field .place, .simple-place, .deploy-place {
    justify-content: center;
    align-items: center;
}

.field:not([position="11"]) .place {
    display: flex;
    position: absolute;
    justify-content: space-evenly;
}

.field[position="11"] .place {
    display: grid;
    position: absolute;
    justify-content: space-evenly;
}

.simple-place, .deploy-place {
    display: flex;
}

.player-figure {
    box-shadow: 0px 0px 10px 14px rgba(0, 0, 0, .5);
    z-index: 99;
    border: 0.5vh solid;
    height: 3vh;
    width: 3vh;
    border-radius: 50%;
}

.dice {
    z-index: 99;
    position: absolute;
    width: 16vh;
    height: 16vh;
    top: 41vh;
}

.dice-one {
    left: 33vh;
}

.dice-two {
    left: 57vh;
}

.text {
    display: flex;
    justify-content: center;
    padding-top: 2vh;
    color: black;
    max-width: 56vh;
    font-size: 5vh;
}

.roll-button {
    display: flex;
    align-items: center;
    justify-content: center;
}





html,body {
    height: 100%;
    overflow: hidden;
}

.clearfix:after {
    display: block;
    content: "";
    clear: both;
}

.hidden {
    display: none;
}

.form-control {
    min-height: 3.5vh;
    font-size: 1.5vh;
    border: 1px solid #c8c8c8;
}

input {
    padding-left: 10px;
    outline: none;
}

send-message {
    box-shadow: none;
    border: 1px solid transparent;
    font-size: 14px;
    outline: none;
    line-height: 100%;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0.6rem 1rem;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    min-height: 38px;
}

button.send-message.default {
    background-color: #e8e8e8;
    color: #333;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
}

button.send-message {
    background-color: #6db33f;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
}

button.send-message.accent {
    background-color: #6db33f;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
}

#chat-page {
    position: relative;
    height: 100%;
}

.chat-container {
    background-color: #222222;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    position: relative;
}

#chat-page ul {
    display: grid;
    align-content: end;
    list-style-type: none;
    background-color: #222222;
    margin: 0;
    overflow: hidden;
}

#chat-page #messageForm {
    padding: 1vh;
}

#chat-page ul li {
    font-size: 2vh;
    line-height: 1.5rem;
    padding: 1vh 2vh;
    margin: 0;
    border-bottom: 1px solid #353535;
}

#chat-page ul li p {
    margin: 0;
}

#chat-page .chat-message {
    padding-left: 6vh;
    position: relative;
}

#chat-page .chat-message i {
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 10px;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    line-height: 42px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-style: normal;
    text-transform: uppercase;
}

#chat-page .chat-message span {
    color: #48ed47;
    font-weight: 600;
}

#chat-page .chat-message p {
    color: #fff;
}

#messageForm .input-group input {
    float: left;
    width: 81%;
}

#messageForm .input-group button {
    float: left;
    width: 11%;
    height: 3.5vh;
    margin-left: 1vh;
    font-size: 1.5vh;
}

.chat-header {
    text-align: center;
}

.chat-header h2 {
    margin: 0;
    font-weight: 500;
}

.connecting {
    padding-top: 5px;
    text-align: center;
    color: #777;
    position: absolute;
    top: 65px;
    width: 100%;
}

.chat-container {
    height: 69vh;
}

#chat-page ul {
    height: 60vh;
}

.chat-header {
    padding: 0.6vh;
}

.connecting {
    top: 60px;
}

.chat-header h2 {
    font-size: 1.1em;
}

.chat {
    z-index: 9;
    position: absolute;
    top: 12.5vh;
    left: 12.5vh;
    height: 71vh;
    width: 71vh;
}

.field-menu {
    font-family: 'Open Sans';
    border: 0.3vh solid;
    position: absolute;
    z-index: 99999;
    background: #ffffff;
    width: 20vh;
}

.field-menu-item {
    font-size: 1.5vh;
    padding: 0.4vh 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.field-info-text {
    font-family: 'Open Sans';
    color: white;
    font-size: 2vh;
    padding: 1.5vh;
    display: grid;
    justify-content: space-evenly;
}

.level-img {
    height: 2vh;
}

.factor-img {
    height: 4vh;
    width: 5vh;
}

.factor-value {
    display: flex;
    align-items: center;
}

.field-group-text {
    font-size: 1.5vh;
    font-family: monospace;
}

.level-up-button, .bail-button, .redemption-button {
    background: #22dd22;
    padding: 0.5vh 1vh;
    font-size: 1.5vh;
    border: none;
    color: inherit;
}

.level-up-button {
    background: #22dd22;
}

.level-up-button:hover {
    background: #3cbd3c;
}

.bail-button {
    background: #ff8b8b;
}

.bail-button:hover {
    background: #f15050;
}

.redemption-button {
    background: #4de7a1;
}

.redemption-button:hover {
    background: #00d775;
}

.current-level {
    top: 12vh;
    left: 1vh;
    width: 2vh;
    height: 2vh;
    display: flex;
    position: absolute;
}

.leave-img {
    background: #cfcfcf;
    border-radius: 50%;
    right: 3vh;
    top: 3vh;
    position: absolute;
    height: 3vh;
    width: 3vh;
}

.leave-img:hover {
    background: #636363;
}