div {
    display: block;
}

.container {
    padding: 50px 0;
}

.reconnect-button, .search-submit-button, .create-game-button, .submit-create-button, .cancel-create-button {
    height: 5vh;
    margin: 1vh 5vh;
    padding: 10px 30px;
    font-size: 1.5rem;
    color: #F0EDCF;
}

.default-form, .create-form, .select-number, .lobby, .reconnect-form, .search-form {
     display: flex;
     flex-flow: row wrap;
     justify-content: center;
     align-items: center;
}

.search-form input {
    height: 3vh;
    font-size: 1.5rem;
}

.search-form-button {
    margin-right: 150px;
}

.select-label, .reconnect-text {
    font-size: 1.5rem;
}

.select-number {
    background: #222222;
    border: 2px solid;
    border-radius: 50%;
    height: 5vh;
    width: 70px;
    margin: 0vh 2vh;
    font-size: 1.5rem;
    color: #F0EDCF;
}

.select-number:hover {
    background-color: #40A2D8 !important;
}

.search-form input {
    padding: 10px;
}

.search-submit-button, .reconnect-button {
    background: #00b0b9;
}

.search-submit-button:hover, .reconnect-button:hover {
    background-color: #187e83;
}

.create-game-button, .submit-create-button {
    background: #0bb04e;
}

.create-game-button:hover, .submit-create-button:hover {
    background-color: #028536;
}

.cancel-create-button {
    background: #c31717;
}

.cancel-create-button:hover {
    background-color: #c94242;
}

.line-separator {
    height: 2px;
    background: #000c65;
    margin: 50px 0px 50px;
}

.hidden {
    display: none;
}

.player, .my-place {
    font-family: cursive;
    font-size: 1.6rem;
    color: #F0EDCF;
}

.player {
    background-image: linear-gradient(#001e61, #00c8f9);
}

.my-place {
    background-image: linear-gradient(#001e61, #28ff00);
}

.player-place {
    border-radius: 10%;
    height: 150px;
    width: 150px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-place:hover {
    background-image: linear-gradient(#0854ff, #28ff00);
}

.player:hover {
    background-image: linear-gradient(#0854ff, #00c8f9);
}

.empty-player:hover {
    background: #0bb04e;
}

.empty-player {
    color: black;
    font-size: 1.2rem;
    text-align: center;
    border: 2px dashed #939393;
}

.gameListArea {
    list-style-type: none;
    margin: 0;
    overflow: auto;
    overflow-y: scroll;
    padding: 0 20px 0px 20px;
    height: calc(100% - 150px);
}

.lobby {
    border-bottom: 1px solid;
    border-inline-start-color: black;
}

.lobby:hover {
    background: #84d3cc;
}

.my-lobby {
    background: #95ffac;
}

.numbers {
    display: flex;
}