body {
    margin: auto;
    background: #F0EDCF;
    width: 71%;
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.logo-column {
    margin: auto 5vh auto 5vh;
    display: flex;
    float: inline-start;
    align-items: center;
}

.logo-column img {
    margin: auto;
    width: 10vh;
    height: 7vh;
}

.tap-collection {
    flex-flow: row wrap;
    display: inline-flex;
    margin: auto;
}

.drop-tab {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    border-inline-end: solid;
    border-inline-end-color: black;
}

.drop-tab, .drop-tab-button {
    height: 10vh;
    min-width: 10vh;
}

html,
h1,
h2,
h3,
h4,
h5,
h6 {
    color :#1e1e21
}

a {
    text-decoration: none;
    color: inherit
}

header {
    background-image: linear-gradient(black, #00edf9);
}

header * {
    color: #F0EDCF;
}

.tap  {
    border-inline-start: solid;
    border-inline-start-color: black;
    float: left;
}

.tap a {
    font-size: 1.5rem;
}

.tap:hover {
    background-image: linear-gradient(black, #00a3ab);
}

.drop-tab .drop-tab-button {
    border-inline-start: none;
    text-align: center;
    color: white;
    background-color: inherit;
    margin: auto;
}

.drop-tab-button {
    position: relative;
}

.logout {
    height: 5vh;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    color: black;
    display: none;
    background-color: #f9f9f9;
    position: absolute;
}

.logout:hover {
    background: #b9b9b9;
}

.drop-tab-button:hover .logout {
    display: grid;
    border-bottom: 3px solid #151c3f;
    align-content: center;
    justify-content: center;
}

.drop-tab-button:hover {
    background-color: #40A2D8;
}

.navbar {
    margin: 5vh 0vh;
}

.warn {
    padding-right: 1vh;
    width: 1vh;
    height: 1vh;
}