.registration-form {
    font-size: 1.2rem;
    background-color: white;
    margin: 4em auto 4em;
    max-width: 40vh;
    border-style: groove;
    padding: 1.6rem;
}

.form-group {
    height: 26px;
    margin: 1em auto 1em;
}

.form-group input {
    float: right;
    width: 70%;
}

.register-button {
    margin: 2em auto 2em;
    height: 30px;
    width: 100%;
    background-color: #40A2D8;
    font-size: 1.2rem;
    margin: auto;
    color: white;
}

.login-button {
    margin: 1em auto;
}

.form-control {
    height: 20px;
}