<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
    <link rel="stylesheet" href="/css/game.css" type="text/css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="game-wrapper">
        <div class="game-body">
            <div class="table">
                <th:block th:if="${game != null}">
                    <div class="board">
                        <div id="menu" class="field-menu hidden"></div>
                        <img class="dice dice-one hidden"/>
                        <img class="dice dice-two hidden"/>
                        <div class="wrapper wrapper-roll hidden">
                            <div class="roll-container">
                                <div class="roll-text text">Try your luck, roll the dice!</div>
                                <div class="roll-button-container">
                                    <button class="roll-button roll"><img class="default-image-dice" src="/images/default-image-dice.png"/>roll dice</button>
                                </div>
                            </div>
                        </div>
                        <div class="wrapper wrapper-roll-answer hidden">
                            <div class="container">
                                <div class="roll-answer-text text">Buy or reject the field</div>
                                <div class="roll-answer-button-container">
                                    <button class="roll-answer-button buy">Buy</button>
                                    <button class="roll-answer-button reject">Reject</button>
                                </div>
                            </div>
                        </div>
                        <div class="wrapper wrapper-pay hidden">
                            <div class="container">
                                <div class="pay-text text"></div>
                                <div class="pay-button-container">
                                    <button class="pay-button pay">Pay</button>
                                </div>
                            </div>
                        </div>
                        <div th:insert="chat :: chat"></div>
                        <div class="fields"></div>
                    </div>
                    <div class="side-panel">
                        <div class="game-id-label">Game id:</div>
                        <div class="game-id" th:text='${game.id}'></div>
                        <div class="players" th:attr="end-time-for-turn=${game.endTimeForTurn}"></div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        var currentUser = [[${currentUser}]];
        var game = [[${game}]];
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script th:src="@{/js/chat.js}"></script>
    <script th:src="@{/js/game.js}"></script>
</body>
</html>