<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Monopoly Game Login</title>
  <link rel="stylesheet" href="/css/login.css" type="text/css">
  <link rel="stylesheet" href="/css/navbar.css" type="text/css">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>
  <body>
    <div th:insert="navbar :: navbar"></div>
    <div>
      <form class="login-form" method="post" th:action="@{/login}">
        <div th:if="${param.error}">
          Invalid username and password.
        </div>
        <div th:if="${param.logout}">
          You have been logged out.
        </div>
        <div class="form-group">
          <label class="form-label">Login</label>
          <input class="form-control"
                 name="username"
                 placeholder="Enter login"
                 type="text"
          />
        </div>
        <div class="form-group">
          <label class="form-label">Password</label>
          <input class="form-control"
                 name="password"
                 placeholder="Enter password"
                 type="password"
          />
        </div>
        <button class="sign-in-button" type="submit">Sign in</button>
        <div class="sign-up">
          <span>Not registered? </span>
          <button class="sign-up-button"><a th:href="@{/registration}">Sign up</a></button>
        </div>
      </form>
    </div>
  </body>
</html>