<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Monopoly Game</title>
    <link rel="stylesheet" href="/css/navbar.css" type="text/css">
</head>
<body>
<div th:fragment="navbar" class="navbar">
    <header class="navbar">
        <div class="tab-container">
            <div class="row">
                <div class="logo-column">
                    <img src="images/favicon.ico" align="left"/>
                    <h1><a href="/">Monopoly Game</a></h1>
                </div>
                <nav class="navigation-column">
                    <div class="tap-collection">
                        <div class="tap"><a class="drop-tab" href="/">Main</a></div>
                        <div class="tap">
                            <a class="drop-tab" href="/games">
                                <block th:if="${currentUser != null}">
                                    <img class="warn" src="images/warn.png" th:if="${currentUser.active}">
                                </block>
                                Games
                            </a>
                        </div>
                        <div class="tap profile">
                            <span class="drop-tab-button" th:if="${currentUser != null}">
                                <a class="drop-tab" href="/">Hello,&nbsp<span id="username" th:text='${currentUser.name}'></span>&nbsp!</a>
                                <a class="logout hidden" th:href="@{/logout}">logout</a>
                            </span>
                            <span class="drop-tab-button" th:if="${currentUser == null}">
                                <a class="drop-tab" th:href="@{/login}">Sign in</a>
                            </span>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
</div>
</body>
</html>