<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Monopoly Game Registration</title>
    <link rel="stylesheet" href="/css/registration.css" type="text/css">
    <link rel="stylesheet" href="/css/navbar.css" type="text/css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  </head>
  <body>
  <div th:insert="navbar :: navbar"></div>
  <div class="registration-form">
    <div th:if="${param.success}">
      <div class="alert alert-info">You've successfully registered to our app!</div>
    </div>
    <div class="card-header">
      <h2 class="text-center">Registration</h2>
    </div>
    <div class="card-body">
      <form method="post" role="form" th:action="@{/registration/save}" th:object="${user}">
        <div class="form-group">
          <label class="form-label">Name</label>
          <input class="form-control"
                 id="name"
                 name="name"
                 placeholder="Enter name"
                 th:field="*{name}"
                 type="text"
          />
          <p th:errors="*{name}" class="text-danger"
             th:if="${#fields.hasErrors('name')}">
          </p>
        </div>
        <div class="form-group">
          <label class="form-label">Email</label>
          <input class="form-control"
                 id="email"
                 name="email"
                 placeholder="Enter email address"
                 th:field="*{email}"
                 type="email"
          />
          <p th:errors="*{email}" class="text-danger"
             th:if="${#fields.hasErrors('email')}">
          </p>
        </div>
        <div class="form-group">
          <label class="form-label">Password</label>
          <input class="form-control"
                 id="password"
                 name="password"
                 placeholder="Enter password"
                 th:field="*{password}"
                 type="password"
          />
          <p th:errors="*{password}" class="text-danger"
             th:if="${#fields.hasErrors('password')}">
          </p>
        </div>
          <button class="register-button" type="submit">Create my account</button>
      </form>
    </div>
    <div class="sign-in">
      <span>Already registered? </span>
      <button class="login-button"><a th:href="@{/login}">Sign in</a></button>
    </div>
  </div>
  </body>
</html>